<div class="banner">
  <div class="container container-lg">
    <div
      class="banner-item rounded-24 overflow-hidden position-relative arrow-center"
    >
      <a
        href="#featureSection"
        class="scroll-down w-84 h-84 text-center flex-center bg-main-600 rounded-circle border border-5 text-white border-white position-absolute start-50 translate-middle-x bottom-0 hover-bg-main-800"
      >
        <span class="icon line-height-0">
          <i class="ph ph-caret-double-down"></i>
        </span>
      </a>

      <img
        src="assets/images/bg/banner-bg.png"
        alt="banner background"
        class="banner-img position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 z-n1 object-fit-cover rounded-24"
      />

      <div class="flex-align">
        <button
          type="button"
          id="banner-prev"
          class="slick-prev slick-arrow flex-center rounded-circle box-shadow-4xl bg-white text-xl hover-bg-main-600 hover-text-white transition-1"
        ></button>
        <button
          type="button"
          id="banner-next"
          class="slick-next slick-arrow flex-center rounded-circle box-shadow-4xl bg-white text-xl hover-bg-main-600 hover-text-white transition-1"
        ></button>
      </div>

      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div ngxSlickItem class="slide">
          <div class="banner-slider">
            <div class="banner-slider__item">
              <div class="banner-slider__inner flex-between position-relative">
                <div class="banner-item__content">
                  <span
                    class="fw-semibold text-success-600 text-capitalize mb-8 animate-left-right animation-delay-08"
                  >
                    Save up to 50% off on your first order
                  </span>
                  <h2
                    class="banner-item__title max-w-700 mb-30 animate-left-right animation-delay-1"
                  >
                    Daily Grocery Order and Get
                    <span class="text-main-600">Express</span> Delivery
                  </h2>
                  <div
                    class="d-flex align-items-center gap-16 animate-left-right animation-delay-12"
                  >
                    <a
                      [routerLink]="['shop']"
                      class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8"
                    >
                      Explore Shop
                      <span class="icon text-xl d-flex">
                        <i class="ph ph-shopping-cart-simple"></i>
                      </span>
                    </a>
                    <div class="d-flex align-items-end gap-8">
                      <span class="text-heading fst-italic text-sm"
                        >Starting at</span
                      >
                      <h6 class="text-danger-600 mb-0">$60.99</h6>
                    </div>
                  </div>
                </div>
                <div
                  class="banner-item__thumb animate-scale animation-delay-12"
                >
                  <img
                    src="assets/images/thumbs/banner-img3.png"
                    alt="Banner Image 1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="banner-slider">
            <div class="banner-slider__item">
              <div class="banner-slider__inner flex-between position-relative">
                <div class="banner-item__content">
                  <span
                    class="fw-semibold text-success-600 text-capitalize mb-8 animate-left-right animation-delay-08"
                  >
                    Save up to 50% off on your first order
                  </span>
                  <h2
                    class="banner-item__title max-w-700 mb-30 animate-left-right animation-delay-1"
                  >
                    Daily Grocery Order and Get
                    <span class="text-main-600">Express</span> Delivery
                  </h2>
                  <div
                    class="d-flex align-items-center gap-16 animate-left-right animation-delay-12"
                  >
                    <a
                      [routerLink]="['shop']"
                      class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8"
                    >
                      Explore Shop
                      <span class="icon text-xl d-flex">
                        <i class="ph ph-shopping-cart-simple"></i>
                      </span>
                    </a>
                    <div class="d-flex align-items-end gap-8">
                      <span class="text-heading fst-italic text-sm"
                        >Starting at</span
                      >
                      <h6 class="text-danger-600 mb-0">$60.99</h6>
                    </div>
                  </div>
                </div>
                <div
                  class="banner-item__thumb animate-scale animation-delay-12"
                >
                  <img
                    src="assets/images/thumbs/banner-img3.png"
                    alt="Banner Image 1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
<!-- ============================ Banner Section End =============================== -->

<!-- ============================ Feature Section start =============================== -->

<div class="feature" id="featureSection">
  <div class="container container-lg">
    <div class="position-relative arrow-center gradient-shadow">
      <div class="flex-align">
        <button
          type="button"
          id="feature-item-wrapper-prev"
          class="slick-prev slick-arrow flex-center rounded-circle bg-white text-xl hover-bg-main-600 hover-text-white transition-1"
        >
          <i class="ph ph-caret-left"></i>
        </button>
        <button
          type="button"
          id="feature-item-wrapper-next"
          class="slick-next slick-arrow flex-center rounded-circle bg-white text-xl hover-bg-main-600 hover-text-white transition-1"
        >
          <i class="ph ph-caret-right"></i>
        </button>
      </div>

      <ngx-slick-carousel
        class="feature-item-wrapper"
        #slickModal="slick-carousel"
        [config]="featureSlideConfig"
      >
        <div
          ngxSlickItem
          *ngFor="let item of featureItems"
          class="feature-item text-center"
        >
          <div class="feature-item__thumb rounded-circle">
            <a [routerLink]="['shop']" class="w-100 h-100 flex-center">
              <img [src]="item.img" [alt]="item.title" />
            </a>
          </div>
          <div class="feature-item__content mt-16">
            <h6 class="text-lg mb-8">
              <a [routerLink]="['shop']" class="text-inherit"
                >{{ item.title }}</a
              >
            </h6>
            <span class="text-sm text-gray-400">125+ Products</span>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>

<!-- ============================ Feature Section End =============================== -->

<!-- ============================ Promotional Banner Section Start =============================== -->

<section class="promotional-banner pt-80">
  <div class="container container-lg">
    <div class="row gy-4">
      <div
        class="col-xl-3 col-sm-6 col-xs-6 wow bounceIn"
        *ngFor="let banner of promotionalBanners"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-duration]="banner.animationDelay"
      >
        <div
          class="promotional-banner-item position-relative rounded-24 overflow-hidden z-1 py-52 ps-40 pe-24 h-100"
        >
          <img
            [src]="banner.image"
            alt=""
            class="position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 object-fit-cover z-n1"
          />
          <div class="promotional-banner-item__content">
            <h6 class="promotional-banner-item__title text-2xl max-w-184">
              {{ banner.title }}
            </h6>

            <div *ngIf="banner.price" class="d-flex align-items-end gap-8">
              <span class="text-heading fst-italic text-sm">Starting at</span>
              <h6 class="text-danger-600 mb-0 text-xl">{{ banner.price }}</h6>
            </div>

            <a
              [href]="banner.link"
              class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8 mt-24"
            >
              Shop Now
              <span class="icon text-xl d-flex"
                ><i class="ph ph-arrow-right"></i
              ></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Promotional Banner Section End =============================== -->

<!-- ============================ Product Section Start =============================== -->
<div class="product pt-60">
  <div class="container container-lg">
    <div class="section-heading">
      <div class="flex-between flex-wrap gap-8">
        <h5 class="mb-0">Flash Sales Today</h5>
        <div class="flex-align gap-16">
          <a
            [routerLink]="['shop']"
            class="text-sm fw-medium text-gray-700 hover-text-main-600 hover-text-decoration-underline"
          >
            View All Deals
          </a>
          <div class="flex-align gap-8">
            <button
              (click)="slickModal.slickPrev()"
              class="slick-prev slick-arrow"
            >
              ‹
            </button>
            <button
              (click)="slickModal.slickNext()"
              class="slick-next slick-arrow"
            >
              ›
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Slick Carousel -->
    <ngx-slick-carousel
      #slickModal="slick-carousel"
      class="product-one-slider g-12"
      [config]="productSlideConfig"
    >
      <div ngxSlickItem *ngFor="let product of products" class="slide">
        <div
          class=""
          [attr.data-aos]="'fade-up'"
          [attr.data-aos-duration]="product.fadeDuration"
        >
          <div
            class="product-card px-20 py-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2"
          >
            <a
              [routerLink]="['cart']"
              class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-pill flex-align gap-8 position-absolute inset-block-start-0 inset-inline-end-0 me-16 mt-16"
            >
              Add <i class="ph ph-shopping-cart"></i>
            </a>

            <a
              [routerLink]="['product-details']"
              class="product-card__thumb flex-center overflow-hidden"
            >
              <img [src]="product.image" [alt]="product.name" />
            </a>

            <div class="product-card__content mt-12">
              <div
                class="product-card__price mb-8 d-flex align-items-center gap-8"
              >
                <span class="text-heading text-md fw-semibold"
                  >${{ product.price }}
                  <span class="text-gray-500 fw-normal">/Qty</span></span
                >
                <span
                  class="text-gray-400 text-md fw-semibold text-decoration-line-through"
                  >${{ product.oldPrice }}</span
                >
              </div>

              <div class="flex-align gap-6">
                <span class="text-xs fw-bold text-gray-600"
                  >{{ product.rating }}</span
                >
                <span class="text-15 fw-bold text-warning-600 d-flex"
                  ><i class="ph-fill ph-star"></i
                ></span>
                <span class="text-xs fw-bold text-gray-600"
                  >({{ product.reviews }})</span
                >
              </div>

              <h6 class="title text-lg fw-semibold mt-12 mb-20">
                <a [routerLink]="['product-details']" class="link text-line-2"
                  >{{ product.name }}</a
                >
              </h6>

              <div class="mt-12">
                <div
                  class="progress w-100 bg-color-three rounded-pill h-4"
                  role="progressbar"
                  [attr.aria-valuenow]="(product.sold / product.total) * 100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <div
                    class="progress-bar bg-main-600 rounded-pill"
                    [style.width.%]="(product.sold / product.total) * 100"
                  ></div>
                </div>
                <span class="text-gray-900 text-xs fw-medium mt-8 d-block">
                  Sold: {{ product.sold }}/{{ product.total }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
<!-- ============================ Product Section End =============================== -->

<!-- ========================= flash sales Start ================================ -->
<section class="flash-sales pt-80 overflow-hidden">
  <div class="container container-lg">
    <div class="row gy-4 arrow-style-two">
      <div
        class="col-lg-6"
        *ngFor="let sale of flashSales"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-duration]="sale.aosDuration"
      >
        <div
          class="flash-sales-item rounded-16 overflow-hidden z-1 position-relative flex-align flex-0 justify-content-between gap-8 ps-56-px"
        >
          <img
            [src]="sale.backgroundImage"
            alt=""
            class="position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 object-fit-cover z-n1 flash-sales-item__bg"
          />

          <div class="flash-sales-item__content" [ngClass]="sale.contentClass">
            <h6 class="text-32 mb-8">{{ sale.title }}</h6>
            <p class="text-neutral-500 mb-12">{{ sale.description }}</p>
            <div class="countdown" [id]="sale.countdownId">
              <ul class="countdown-list flex-align flex-wrap">
                <li
                  class="countdown-list__item py-8 px-12 text-heading flex-align gap-4 text-sm fw-medium box-shadow-4xl rounded-5"
                  [ngClass]="sale.countdownStyleClass"
                >
                  <span class="days"></span> D
                </li>
                <li
                  class="countdown-list__item py-8 px-12 text-heading flex-align gap-4 text-sm fw-medium box-shadow-4xl rounded-5"
                  [ngClass]="sale.countdownStyleClass"
                >
                  <span class="hours"></span> H
                </li>
                <li
                  class="countdown-list__item py-8 px-12 text-heading flex-align gap-4 text-sm fw-medium box-shadow-4xl rounded-5"
                  [ngClass]="sale.countdownStyleClass"
                >
                  <span class="minutes"></span> M
                </li>
                <li
                  class="countdown-list__item py-8 px-12 text-heading flex-align gap-4 text-sm fw-medium box-shadow-4xl rounded-5"
                  [ngClass]="sale.countdownStyleClass"
                >
                  <span class="seconds"></span> S
                </li>
              </ul>
            </div>
            <a [routerLink]="sale.routerLink" [ngClass]="sale.buttonClass">
              Shop Now
              <span class="icon text-xl d-flex"
                ><i class="ph ph-arrow-right"></i
              ></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= flash sales End ================================ -->

<!-- ========================= recommended Start ================================ -->

<section class="recommended overflow-hidden pt-80">
  <div class="container container-lg">
    <div class="section-heading flex-between flex-wrap gap-16">
      <h5 class="mb-0 wow fadeInLeft">Recommended for you</h5>
      <ul
        class="nav common-tab nav-pills wow fadeInRight"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fw-medium text-sm border border-white hover-border-main-600 active"
            id="pills-all-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-all"
            type="button"
            role="tab"
            aria-controls="pills-all"
            aria-selected="true"
          >
            All
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fw-medium text-sm border border-white hover-border-main-600"
            id="pills-grocery-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-grocery"
            type="button"
            role="tab"
            aria-controls="pills-grocery"
            aria-selected="false"
          >
            Grocery
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fw-medium text-sm border border-white hover-border-main-600"
            id="pills-fruits-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-fruits"
            type="button"
            role="tab"
            aria-controls="pills-fruits"
            aria-selected="false"
          >
            Fruits
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fw-medium text-sm border border-white hover-border-main-600"
            id="pills-juices-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-juices"
            type="button"
            role="tab"
            aria-controls="pills-juices"
            aria-selected="false"
          >
            Juices
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fw-medium text-sm border border-white hover-border-main-600"
            id="pills-vegetables-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-vegetables"
            type="button"
            role="tab"
            aria-controls="pills-vegetables"
            aria-selected="false"
          >
            Vegetables
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fw-medium text-sm border border-white hover-border-main-600"
            id="pills-snacks-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-snacks"
            type="button"
            role="tab"
            aria-controls="pills-snacks"
            aria-selected="false"
          >
            Snacks
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link fw-medium text-sm border border-white hover-border-main-600"
            id="pills-organic-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-organic"
            type="button"
            role="tab"
            aria-controls="pills-organic"
            aria-selected="false"
          >
            Organic Foods
          </button>
        </li>
      </ul>
    </div>

    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-all"
        role="tabpanel"
        aria-labelledby="pills-all-tab"
        tabindex="0"
      >
        <div class="row g-12">
          <div
            *ngFor="let product of recomandedProducts"
            class="col-xxl-2 col-lg-3 col-sm-4 col-6"
            data-aos="fade-up"
            data-aos-duration="200"
          >
            <div
              class="product-card h-100 p-12 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2 group-item"
            >
              <button type="button" class="wishlist-btn-two">
                <i class="ph-bold ph-heart"></i>
              </button>
              <span
                *ngIf="product.badge"
                class="product-card__badge {{product.badgeClass}} px-8 py-4 text-sm text-white"
              >
                {{ product.badge }}
              </span>
              <a
                [routerLink]="['product-details']"
                class="product-card__thumb flex-center overflow-hidden"
              >
                <img [src]="product.image" alt="" />
              </a>
              <div class="product-card__content p-sm-2 w-100">
                <h6 class="title text-lg fw-semibold my-12">
                  <a [routerLink]="['product-details']" class="link text-line-2"
                    >{{ product.title }}</a
                  >
                </h6>
                <div class="flex-align gap-4">
                  <span class="text-main-600 text-md d-flex"
                    ><i class="ph-fill ph-storefront"></i
                  ></span>
                  <span class="text-gray-500 text-xs"
                    >By {{ product.store }}</span
                  >
                </div>

                <div class="product-card__content mt-12">
                  <div class="product-card__price mb-8">
                    <span class="text-heading text-md fw-semibold"
                      >{{ product.price }}
                      <span class="text-gray-500 fw-normal">/Qty</span>
                    </span>
                    <span
                      class="text-gray-400 text-md fw-semibold text-decoration-line-through"
                      >{{ product.originalPrice }}</span
                    >
                  </div>
                  <div class="flex-align gap-6">
                    <span class="text-xs fw-bold text-gray-600"
                      >{{ product.rating }}</span
                    >
                    <span class="text-15 fw-bold text-warning-600 d-flex"
                      ><i class="ph-fill ph-star"></i
                    ></span>
                    <span class="text-xs fw-bold text-gray-600"
                      >({{ product.reviewCount }}k)</span
                    >
                  </div>
                  <a
                    [routerLink]="['cart']"
                    class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-pill flex-align gap-8 mt-24 w-100 justify-content-center"
                  >
                    Add To Cart <i class="ph ph-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-grocery"
        role="tabpanel"
        aria-labelledby="pills-grocery-tab"
        tabindex="0"
      >
        <div class="row g-12">
          <div
            *ngFor="let product of recomandedProducts"
            class="col-xxl-2 col-lg-3 col-sm-4 col-6"
            data-aos="fade-up"
            data-aos-duration="200"
          >
            <div
              class="product-card h-100 p-12 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2 group-item"
            >
              <button type="button" class="wishlist-btn-two">
                <i class="ph-bold ph-heart"></i>
              </button>
              <span
                *ngIf="product.badge"
                class="product-card__badge {{product.badgeClass}} px-8 py-4 text-sm text-white"
              >
                {{ product.badge }}
              </span>
              <a
                [routerLink]="['product-details']"
                class="product-card__thumb flex-center overflow-hidden"
              >
                <img [src]="product.image" alt="" />
              </a>
              <div class="product-card__content p-sm-2 w-100">
                <h6 class="title text-lg fw-semibold my-12">
                  <a [routerLink]="['product-details']" class="link text-line-2"
                    >{{ product.title }}</a
                  >
                </h6>
                <div class="flex-align gap-4">
                  <span class="text-main-600 text-md d-flex"
                    ><i class="ph-fill ph-storefront"></i
                  ></span>
                  <span class="text-gray-500 text-xs"
                    >By {{ product.store }}</span
                  >
                </div>

                <div class="product-card__content mt-12">
                  <div class="product-card__price mb-8">
                    <span class="text-heading text-md fw-semibold"
                      >{{ product.price }}
                      <span class="text-gray-500 fw-normal">/Qty</span>
                    </span>
                    <span
                      class="text-gray-400 text-md fw-semibold text-decoration-line-through"
                      >{{ product.originalPrice }}</span
                    >
                  </div>
                  <div class="flex-align gap-6">
                    <span class="text-xs fw-bold text-gray-600"
                      >{{ product.rating }}</span
                    >
                    <span class="text-15 fw-bold text-warning-600 d-flex"
                      ><i class="ph-fill ph-star"></i
                    ></span>
                    <span class="text-xs fw-bold text-gray-600"
                      >({{ product.reviewCount }}k)</span
                    >
                  </div>
                  <a
                    [routerLink]="['cart']"
                    class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-pill flex-align gap-8 mt-24 w-100 justify-content-center"
                  >
                    Add To Cart <i class="ph ph-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-fruits"
        role="tabpanel"
        aria-labelledby="pills-fruits-tab"
        tabindex="0"
      >
        <div class="row g-12">
          <div
            *ngFor="let product of recomandedProducts"
            class="col-xxl-2 col-lg-3 col-sm-4 col-6"
            data-aos="fade-up"
            data-aos-duration="200"
          >
            <div
              class="product-card h-100 p-12 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2 group-item"
            >
              <button type="button" class="wishlist-btn-two">
                <i class="ph-bold ph-heart"></i>
              </button>
              <span
                *ngIf="product.badge"
                class="product-card__badge {{product.badgeClass}} px-8 py-4 text-sm text-white"
              >
                {{ product.badge }}
              </span>
              <a
                [routerLink]="['product-details']"
                class="product-card__thumb flex-center overflow-hidden"
              >
                <img [src]="product.image" alt="" />
              </a>
              <div class="product-card__content p-sm-2 w-100">
                <h6 class="title text-lg fw-semibold my-12">
                  <a [routerLink]="['product-details']" class="link text-line-2"
                    >{{ product.title }}</a
                  >
                </h6>
                <div class="flex-align gap-4">
                  <span class="text-main-600 text-md d-flex"
                    ><i class="ph-fill ph-storefront"></i
                  ></span>
                  <span class="text-gray-500 text-xs"
                    >By {{ product.store }}</span
                  >
                </div>

                <div class="product-card__content mt-12">
                  <div class="product-card__price mb-8">
                    <span class="text-heading text-md fw-semibold"
                      >{{ product.price }}
                      <span class="text-gray-500 fw-normal">/Qty</span>
                    </span>
                    <span
                      class="text-gray-400 text-md fw-semibold text-decoration-line-through"
                      >{{ product.originalPrice }}</span
                    >
                  </div>
                  <div class="flex-align gap-6">
                    <span class="text-xs fw-bold text-gray-600"
                      >{{ product.rating }}</span
                    >
                    <span class="text-15 fw-bold text-warning-600 d-flex"
                      ><i class="ph-fill ph-star"></i
                    ></span>
                    <span class="text-xs fw-bold text-gray-600"
                      >({{ product.reviewCount }}k)</span
                    >
                  </div>
                  <a
                    [routerLink]="['cart']"
                    class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-pill flex-align gap-8 mt-24 w-100 justify-content-center"
                  >
                    Add To Cart <i class="ph ph-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-juices"
        role="tabpanel"
        aria-labelledby="pills-juices-tab"
        tabindex="0"
      >
        <div class="row g-12">
          <div
            *ngFor="let product of recomandedProducts"
            class="col-xxl-2 col-lg-3 col-sm-4 col-6"
            data-aos="fade-up"
            data-aos-duration="200"
          >
            <div
              class="product-card h-100 p-12 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2 group-item"
            >
              <button type="button" class="wishlist-btn-two">
                <i class="ph-bold ph-heart"></i>
              </button>
              <span
                *ngIf="product.badge"
                class="product-card__badge {{product.badgeClass}} px-8 py-4 text-sm text-white"
              >
                {{ product.badge }}
              </span>
              <a
                [routerLink]="['product-details']"
                class="product-card__thumb flex-center overflow-hidden"
              >
                <img [src]="product.image" alt="" />
              </a>
              <div class="product-card__content p-sm-2 w-100">
                <h6 class="title text-lg fw-semibold my-12">
                  <a [routerLink]="['product-details']" class="link text-line-2"
                    >{{ product.title }}</a
                  >
                </h6>
                <div class="flex-align gap-4">
                  <span class="text-main-600 text-md d-flex"
                    ><i class="ph-fill ph-storefront"></i
                  ></span>
                  <span class="text-gray-500 text-xs"
                    >By {{ product.store }}</span
                  >
                </div>

                <div class="product-card__content mt-12">
                  <div class="product-card__price mb-8">
                    <span class="text-heading text-md fw-semibold"
                      >{{ product.price }}
                      <span class="text-gray-500 fw-normal">/Qty</span>
                    </span>
                    <span
                      class="text-gray-400 text-md fw-semibold text-decoration-line-through"
                      >{{ product.originalPrice }}</span
                    >
                  </div>
                  <div class="flex-align gap-6">
                    <span class="text-xs fw-bold text-gray-600"
                      >{{ product.rating }}</span
                    >
                    <span class="text-15 fw-bold text-warning-600 d-flex"
                      ><i class="ph-fill ph-star"></i
                    ></span>
                    <span class="text-xs fw-bold text-gray-600"
                      >({{ product.reviewCount }}k)</span
                    >
                  </div>
                  <a
                    [routerLink]="['cart']"
                    class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-pill flex-align gap-8 mt-24 w-100 justify-content-center"
                  >
                    Add To Cart <i class="ph ph-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-vegetables"
        role="tabpanel"
        aria-labelledby="pills-vegetables-tab"
        tabindex="0"
      >
        <div class="row g-12">
          <div
            *ngFor="let product of recomandedProducts"
            class="col-xxl-2 col-lg-3 col-sm-4 col-6"
            data-aos="fade-up"
            data-aos-duration="200"
          >
            <div
              class="product-card h-100 p-12 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2 group-item"
            >
              <button type="button" class="wishlist-btn-two">
                <i class="ph-bold ph-heart"></i>
              </button>
              <span
                *ngIf="product.badge"
                class="product-card__badge {{product.badgeClass}} px-8 py-4 text-sm text-white"
              >
                {{ product.badge }}
              </span>
              <a
                [routerLink]="['product-details']"
                class="product-card__thumb flex-center overflow-hidden"
              >
                <img [src]="product.image" alt="" />
              </a>
              <div class="product-card__content p-sm-2 w-100">
                <h6 class="title text-lg fw-semibold my-12">
                  <a [routerLink]="['product-details']" class="link text-line-2"
                    >{{ product.title }}</a
                  >
                </h6>
                <div class="flex-align gap-4">
                  <span class="text-main-600 text-md d-flex"
                    ><i class="ph-fill ph-storefront"></i
                  ></span>
                  <span class="text-gray-500 text-xs"
                    >By {{ product.store }}</span
                  >
                </div>

                <div class="product-card__content mt-12">
                  <div class="product-card__price mb-8">
                    <span class="text-heading text-md fw-semibold"
                      >{{ product.price }}
                      <span class="text-gray-500 fw-normal">/Qty</span>
                    </span>
                    <span
                      class="text-gray-400 text-md fw-semibold text-decoration-line-through"
                      >{{ product.originalPrice }}</span
                    >
                  </div>
                  <div class="flex-align gap-6">
                    <span class="text-xs fw-bold text-gray-600"
                      >{{ product.rating }}</span
                    >
                    <span class="text-15 fw-bold text-warning-600 d-flex"
                      ><i class="ph-fill ph-star"></i
                    ></span>
                    <span class="text-xs fw-bold text-gray-600"
                      >({{ product.reviewCount }}k)</span
                    >
                  </div>
                  <a
                    [routerLink]="['cart']"
                    class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-pill flex-align gap-8 mt-24 w-100 justify-content-center"
                  >
                    Add To Cart <i class="ph ph-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-snacks"
        role="tabpanel"
        aria-labelledby="pills-snacks-tab"
        tabindex="0"
      >
        <div class="row g-12">
          <div
            *ngFor="let product of recomandedProducts"
            class="col-xxl-2 col-lg-3 col-sm-4 col-6"
            data-aos="fade-up"
            data-aos-duration="200"
          >
            <div
              class="product-card h-100 p-12 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2 group-item"
            >
              <button type="button" class="wishlist-btn-two">
                <i class="ph-bold ph-heart"></i>
              </button>
              <span
                *ngIf="product.badge"
                class="product-card__badge {{product.badgeClass}} px-8 py-4 text-sm text-white"
              >
                {{ product.badge }}
              </span>
              <a
                [routerLink]="['product-details']"
                class="product-card__thumb flex-center overflow-hidden"
              >
                <img [src]="product.image" alt="" />
              </a>
              <div class="product-card__content p-sm-2 w-100">
                <h6 class="title text-lg fw-semibold my-12">
                  <a [routerLink]="['product-details']" class="link text-line-2"
                    >{{ product.title }}</a
                  >
                </h6>
                <div class="flex-align gap-4">
                  <span class="text-main-600 text-md d-flex"
                    ><i class="ph-fill ph-storefront"></i
                  ></span>
                  <span class="text-gray-500 text-xs"
                    >By {{ product.store }}</span
                  >
                </div>

                <div class="product-card__content mt-12">
                  <div class="product-card__price mb-8">
                    <span class="text-heading text-md fw-semibold"
                      >{{ product.price }}
                      <span class="text-gray-500 fw-normal">/Qty</span>
                    </span>
                    <span
                      class="text-gray-400 text-md fw-semibold text-decoration-line-through"
                      >{{ product.originalPrice }}</span
                    >
                  </div>
                  <div class="flex-align gap-6">
                    <span class="text-xs fw-bold text-gray-600"
                      >{{ product.rating }}</span
                    >
                    <span class="text-15 fw-bold text-warning-600 d-flex"
                      ><i class="ph-fill ph-star"></i
                    ></span>
                    <span class="text-xs fw-bold text-gray-600"
                      >({{ product.reviewCount }}k)</span
                    >
                  </div>
                  <a
                    [routerLink]="['cart']"
                    class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-pill flex-align gap-8 mt-24 w-100 justify-content-center"
                  >
                    Add To Cart <i class="ph ph-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-organic"
        role="tabpanel"
        aria-labelledby="pills-organic-tab"
        tabindex="0"
      >
        <div class="row g-12">
          <div
            *ngFor="let product of recomandedProducts"
            class="col-xxl-2 col-lg-3 col-sm-4 col-6"
            data-aos="fade-up"
            data-aos-duration="200"
          >
            <div
              class="product-card h-100 p-12 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2 group-item"
            >
              <button type="button" class="wishlist-btn-two">
                <i class="ph-bold ph-heart"></i>
              </button>
              <span
                *ngIf="product.badge"
                class="product-card__badge {{product.badgeClass}} px-8 py-4 text-sm text-white"
              >
                {{ product.badge }}
              </span>
              <a
                [routerLink]="['product-details']"
                class="product-card__thumb flex-center overflow-hidden"
              >
                <img [src]="product.image" alt="" />
              </a>
              <div class="product-card__content p-sm-2 w-100">
                <h6 class="title text-lg fw-semibold my-12">
                  <a [routerLink]="['product-details']" class="link text-line-2"
                    >{{ product.title }}</a
                  >
                </h6>
                <div class="flex-align gap-4">
                  <span class="text-main-600 text-md d-flex"
                    ><i class="ph-fill ph-storefront"></i
                  ></span>
                  <span class="text-gray-500 text-xs"
                    >By {{ product.store }}</span
                  >
                </div>

                <div class="product-card__content mt-12">
                  <div class="product-card__price mb-8">
                    <span class="text-heading text-md fw-semibold"
                      >{{ product.price }}
                      <span class="text-gray-500 fw-normal">/Qty</span>
                    </span>
                    <span
                      class="text-gray-400 text-md fw-semibold text-decoration-line-through"
                      >{{ product.originalPrice }}</span
                    >
                  </div>
                  <div class="flex-align gap-6">
                    <span class="text-xs fw-bold text-gray-600"
                      >{{ product.rating }}</span
                    >
                    <span class="text-15 fw-bold text-warning-600 d-flex"
                      ><i class="ph-fill ph-star"></i
                    ></span>
                    <span class="text-xs fw-bold text-gray-600"
                      >({{ product.reviewCount }}k)</span
                    >
                  </div>
                  <a
                    [routerLink]="['cart']"
                    class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-pill flex-align gap-8 mt-24 w-100 justify-content-center"
                  >
                    Add To Cart <i class="ph ph-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= recommended End ================================ -->

<!-- ================================ Newsletter new section Start ================================== -->
<section class="newsletter-new">
  <div class="container container-lg">
    <div
      class="py-20 px-80-px bg-neutral-100 rounded-12 d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap gap-32"
    >
      <div class="max-w-700">
        <h3 class="mb-30">Stay home & get your daily needs from our shop</h3>
        <form action="#" class="d-flex gap-8 flex-wrap flex-sm-nowrap">
          <input
            type="text"
            class="form-control bg-white px-20 shadow-none py-16 rounded placeholder-text-14 flex-grow-1"
            placeholder="Enter your mail"
          />
          <button
            type="submit"
            class="btn py-20 px-32 bg-success-600 flex-shrink-0 hover-bg-success-700 flex-grow-1"
          >
            Subscribe now
          </button>
        </form>
        <p class="text-heading text-sm mt-20 fw-medium">
          I agree that my submitted data is being collected and stored.
        </p>
      </div>
      <div class="d-lg-block d-none">
        <img src="assets/images/thumbs/newsletter-img.png" alt="Thumbnail" />
      </div>
    </div>
  </div>
</section>
<!-- ================================ Newsletter new section End ================================== -->
