<div class="banner">
  <div class="container container-lg">
    <div
      class="banner-item rounded-24 overflow-hidden position-relative arrow-center"
    >
      <a
        href="#featureSection"
        class="scroll-down w-84 h-84 text-center flex-center bg-main-600 rounded-circle border border-5 text-white border-white position-absolute start-50 translate-middle-x bottom-0 hover-bg-main-800"
      >
        <span class="icon line-height-0">
          <i class="ph ph-caret-double-down"></i>
        </span>
      </a>

      <img
        src="assets/images/bg/banner-bg.png"
        alt="banner background"
        class="banner-img position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 z-n1 object-fit-cover rounded-24"
      />

      <div class="flex-align">
        <button
          type="button"
          id="banner-prev"
          class="slick-prev slick-arrow flex-center rounded-circle box-shadow-4xl bg-white text-xl hover-bg-main-600 hover-text-white transition-1"
        ></button>
        <button
          type="button"
          id="banner-next"
          class="slick-next slick-arrow flex-center rounded-circle box-shadow-4xl bg-white text-xl hover-bg-main-600 hover-text-white transition-1"
        ></button>
      </div>

      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div ngxSlickItem class="slide">
          <div class="banner-slider">
            <div class="banner-slider__item">
              <div class="banner-slider__inner flex-between position-relative">
                <div class="banner-item__content">
                  <span
                    class="fw-semibold text-success-600 text-capitalize mb-8 animate-left-right animation-delay-08"
                  >
                    Save up to 50% off on your first order
                  </span>
                  <h2
                    class="banner-item__title max-w-700 mb-30 animate-left-right animation-delay-1"
                  >
                    Daily Grocery Order and Get
                    <span class="text-main-600">Express</span> Delivery
                  </h2>
                  <div
                    class="d-flex align-items-center gap-16 animate-left-right animation-delay-12"
                  >
                    <a
                      [routerLink]="['shop']"
                      class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8"
                    >
                      Explore Shop
                      <span class="icon text-xl d-flex">
                        <i class="ph ph-shopping-cart-simple"></i>
                      </span>
                    </a>
                    <div class="d-flex align-items-end gap-8">
                      <span class="text-heading fst-italic text-sm"
                        >Starting at</span
                      >
                      <h6 class="text-danger-600 mb-0">$60.99</h6>
                    </div>
                  </div>
                </div>
                <div
                  class="banner-item__thumb animate-scale animation-delay-12"
                >
                  <img
                    src="assets/images/thumbs/banner-img3.png"
                    alt="Banner Image 1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="banner-slider">
            <div class="banner-slider__item">
              <div class="banner-slider__inner flex-between position-relative">
                <div class="banner-item__content">
                  <span
                    class="fw-semibold text-success-600 text-capitalize mb-8 animate-left-right animation-delay-08"
                  >
                    Save up to 50% off on your first order
                  </span>
                  <h2
                    class="banner-item__title max-w-700 mb-30 animate-left-right animation-delay-1"
                  >
                    Daily Grocery Order and Get
                    <span class="text-main-600">Express</span> Delivery
                  </h2>
                  <div
                    class="d-flex align-items-center gap-16 animate-left-right animation-delay-12"
                  >
                    <a
                      [routerLink]="['shop']"
                      class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8"
                    >
                      Explore Shop
                      <span class="icon text-xl d-flex">
                        <i class="ph ph-shopping-cart-simple"></i>
                      </span>
                    </a>
                    <div class="d-flex align-items-end gap-8">
                      <span class="text-heading fst-italic text-sm"
                        >Starting at</span
                      >
                      <h6 class="text-danger-600 mb-0">$60.99</h6>
                    </div>
                  </div>
                </div>
                <div
                  class="banner-item__thumb animate-scale animation-delay-12"
                >
                  <img
                    src="assets/images/thumbs/banner-img3.png"
                    alt="Banner Image 1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
<!-- ============================ Banner Section End =============================== -->

<!-- ============================ Feature Section start =============================== -->

<div class="feature" id="featureSection">
  <div class="container container-lg">
    <div class="position-relative arrow-center gradient-shadow">
      <div class="flex-align">
        <button
          type="button"
          id="feature-item-wrapper-prev"
          class="slick-prev slick-arrow flex-center rounded-circle bg-white text-xl hover-bg-main-600 hover-text-white transition-1"
        >
          <i class="ph ph-caret-left"></i>
        </button>
        <button
          type="button"
          id="feature-item-wrapper-next"
          class="slick-next slick-arrow flex-center rounded-circle bg-white text-xl hover-bg-main-600 hover-text-white transition-1"
        >
          <i class="ph ph-caret-right"></i>
        </button>
      </div>

      <ngx-slick-carousel
        class="feature-item-wrapper"
        #slickModal="slick-carousel"
        [config]="featureSlideConfig"
      >
        <div
          ngxSlickItem
          *ngFor="let item of featureItems"
          class="feature-item text-center"
        >
          <div class="feature-item__thumb rounded-circle">
            <a [routerLink]="['shop']" class="w-100 h-100 flex-center">
              <img [src]="item.img" [alt]="item.title" />
            </a>
          </div>
          <div class="feature-item__content mt-16">
            <h6 class="text-lg mb-8">
              <a [routerLink]="['shop']" class="text-inherit"
                >{{ item.title }}</a
              >
            </h6>
            <span class="text-sm text-gray-400">125+ Products</span>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>

<!-- ============================ Feature Section End =============================== -->

<!-- ============================ Promotional Banner Section Start =============================== -->

<section class="promotional-banner pt-80">
  <div class="container container-lg">
    <div class="row gy-4">
      <div
        class="col-xl-3 col-sm-6 col-xs-6 wow bounceIn"
        *ngFor="let banner of promotionalBanners"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-duration]="banner.animationDelay"
      >
        <div
          class="promotional-banner-item position-relative rounded-24 overflow-hidden z-1 py-52 ps-40 pe-24 h-100"
        >
          <img
            [src]="banner.image"
            alt=""
            class="position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 object-fit-cover z-n1"
          />
          <div class="promotional-banner-item__content">
            <h6 class="promotional-banner-item__title text-2xl max-w-184">
              {{ banner.title }}
            </h6>

            <div *ngIf="banner.price" class="d-flex align-items-end gap-8">
              <span class="text-heading fst-italic text-sm">Starting at</span>
              <h6 class="text-danger-600 mb-0 text-xl">{{ banner.price }}</h6>
            </div>

            <a
              [href]="banner.link"
              class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8 mt-24"
            >
              Shop Now
              <span class="icon text-xl d-flex"
                ><i class="ph ph-arrow-right"></i
              ></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Promotional Banner Section End =============================== -->
